@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="background-color: #EEEEEE;">
        <div class="top-row px-4" style="background-color: #EEEEEE; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);">
            
            @if (isAuthenticated)
            {
                <button class="nav-link btn" @onclick="Logout">Logout</button>
            }
            else
            {
                 <a href="login">Login</a>
                 <a href="register">Register</a>
            }
        </div>
        <article class="content px-4" >
            @Body
        </article>
    </main>
</div>


@code {
    private bool isAuthenticated = false;

    protected override async Task OnInitializedAsync()
    {
        var token = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "jwtToken");
        isAuthenticated = !string.IsNullOrEmpty(token);
    }

    private async Task Logout()
    {
        await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "jwtToken");
        isAuthenticated = false; 
    }
}