@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="background-color: #EEEEEE;">
        <div class="top-row px-4" style="background-color: #EEEEEE; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);">
             <a href="login">Login</a>
             <a href="register">Register</a>
        </div>
        <article class="content px-4" >
            @Body
        </article>
    </main>
</div>
